@charset "UTF-8";

*{margin: 0px;padding: 0px;font-family: Arial, Helvetica, sans-serif;}

header{
  background-image: linear-gradient(to bottom,rgb(197, 75, 19),rgb(125, 43, 5) );
  height: 20vh;
  margin-bottom:0.1%;
}
.divH{display: flex;align-items: center;justify-content: space-between;}

h1{color: white;font-weight: 800;margin-bottom: 30px;}

nav i{
padding-left: 19px;
}
main{
}

article{
 width: 99%;
   background-color: white;
  padding-top: 30px;
}

.capa{
background-image: url('imagens/capa.png');
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
width: 100%;
height: 50vh;
}
.capa div img{
    width: 350px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}

.info{
    width: 100%;
    background-color: rgb(216, 214, 214);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    background-color: rgb(197, 75, 19);
    padding: 10px;
    height: 15vh;
    border-radius: 5%;
    box-shadow: 2px 2px 3px black;
    color: white;
    font-weight: 900;
   
}