@charset "UTF-8";

*{margin: 0px;padding: 0px;font-family: Arial, Helvetica, sans-serif;}

header{
  background-image: linear-gradient(to bottom,rgb(197, 75, 19),rgb(125, 43, 5) );
  padding: 10px;
  margin-bottom:0.1%;
}
.divH{display: flex;align-items: center;justify-content: space-between;}

h1{color: white;font-weight: 800;margin-bottom: 30px;}

nav i{
padding-left: 19px;
}
main{
background-color: rgb(159, 64, 20);
display: flex;
justify-content: center;
}

article{
 width: 98%;
   background-color: white;
   display: grid;
   grid-template-columns: repeat(2,auto);
   grid-template-rows: repeat(2,250px);
   grid-auto-rows: 250px;
   grid-auto-columns: auto;
   justify-content: space-around;
  align-items: center;
  padding-top: 30px;
}

.aside{
  background-color: rgb(197, 75, 19);
  width: 150px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
   border-radius: 10px;
   font-weight: 700;
   color: white;
   box-shadow: 1.5px 3px 4px rgb(95, 4, 4);
   cursor: pointer;
}

 
img{
  width: 100px;
  border-radius: 5px;
}
.divPreco{
  display: flex;
}

#card{
  position: fixed;
  top: 50%;
 display: none;
  width: 30%;
color: white;
  background-color: rgb(202, 82, 26) ;
border-radius: 5px;
box-shadow: 2px 2px 3px black;
}
.aside:active{
  background-color: rgb(243, 105, 42);
  cursor: pointer;
}
#VerCarrinho{padding: 5px;background-color: rgb(12, 170, 117);border-radius: 5px;font-weight: 700;border: 2px groove black;color: white;}


