@charset "UTF-8";

*{margin: 0px;padding: 0px;font-family: Arial, Helvetica, sans-serif;}
main{
      display: flex;
    justify-content: center;
    align-items: center;
   background-color: rgb(159, 64, 20);
   height: 100vh;
}

section{
    background-color: white;
  
  width: 70%;
  padding: 10px;
  border-radius: 5px;
}

form{
 display: flex;
 flex-flow: column nowrap;
 justify-content: center;
}
p{
    margin-bottom: 2%;
   display: flex;
   justify-content: flex-end;
}
div{
    width: 100%;
    height: 8vh;
    background-color: brown;
     margin-bottom: 3%;
     border-radius: 13px;
}

input{
    width: 90%;
height: 7vh;
border-radius: 13px;
border-color: rgba(230, 196, 196, 0.355);
}
button{
    height: 7vh;
    background-color: brown;
    color: white;
    font-weight: 900;
    border-radius: 13px;
    border-color: white;
    cursor: pointer;
    width: 100%;
  display: none
}

p{
    color: black;
    font-weight: 900;
   
}
