*{margin: 0px;padding: 0px;font-family: Arial, Helvetica, sans-serif;}

header{
  background-image: linear-gradient(to bottom,rgb(197, 75, 19),rgb(125, 43, 5) );
  padding: 10px;
  margin-bottom:0.1%;
}

h1{color: white;font-weight: 800;margin-bottom: 30px;}

main{
    background-color: beige;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column wrap;
    height: 100vh;
}

#Encerrar{
   display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(197, 75, 19);
    padding: 10px;
    height: 15vh;
    border-radius: 5%;
    box-shadow: 2px 2px 3px black;
    color: white;
    font-weight: 900;
}

div:active{background-color:rgba(197, 75, 19, 0.772) ;}

.btn{padding: 20px;font-weight: 600;border-radius: 5%;border-color: azure;cursor: pointer;}

